<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Questionnaire tool</title>

    <link rel="stylesheet" type="text/css" href="../../commons/css/golabStart.css"/>
    <script type="text/javascript" src="../../commons/js/errorHandler.js"></script>
    <script type="text/javascript" src="../../commons/js/jsChecker.js"></script>
    <script type="text/javascript" src="../../libs/js/headJS/head.js"></script>
    <script type="text/javascript" src="../../commons/js/resourceLoader.js"></script>
    <script type="text/javascript" src="../../commons/js/commonsModules.js"></script>

    <script type="text/javascript" src="js/module.js"></script>
  </head>

  <body ng-controller="controller_quest">
    <div class="pleaseWaitIcon" golabCloak></div>
    <div id="all" hidden>
      <golabContainer containerTitle="{{'quest'|g4i18n}}">
        <div>
          &nbsp;
          <i ng-hide="state.context == 'ils'"
             class="fa fa-gear activeButton"
             ng-click="configuration_edit()">
          </i>
          &nbsp;
          <i ng-hide="state.context == 'ils'"
             class="fa fa-graduation-cap activeButton"
             ng-click="teacher_view_show()">
          </i>
        </div>

        <div class="container-fluid quest-background">
          <p>&nbsp;</p>
          <div class="panel panel-info"
               ng-show="state.mode == 'teacher'">
            <div class="panel-heading">
              <h2 class="panel-title">Teacher view</h2>
            </div>

            <div class="panel-body">
              <p>In the teacher view you see how students answered the questionnaire.</p>
              <p>Number of students for this questionnaire: {{student_resources.length}}.
              </p>
              <p>Click <i class="fa fa-graduation-cap activeButton"
                          ng-click="teacher_view_show()"></i>
                again to return to the student view.
              </p>
            </div>
          </div>
            
          <form class="form-horizontal">
            <div ng-repeat="question in questions"
                 ng-hide="question.empty">

              <div ng-show="false">{{data = student_data.questions[$index].data;}}
              </div>

              <div class="form-group quest-gap"
                   ng-show="question.type != 'likert'">

                <div ng-show="question.header && question.header.length > 0"
                     class="col-sm-8">
                    <p ng-bind-html="question.header"></p>
                </div>

                <div class="col-sm-12"
                     ng-show="question.image.is_loaded">
                  <div ng-show="question.image.layout == 'left'">
                    <img class="quest-image-left" ng-src="{{question.image.src}}" width="{{question.image.width}}" height="{{question.image.height}}">
                    <span class="quest-bold" ng-bind-html="question.index + question.text"></span>
                  </div>
                  <div ng-show="question.image.layout == 'right'">
                    <img class="quest-image-right" ng-src="{{question.image.src}}" width="{{question.image.width}}" height="{{question.image.height}}">
                    <span class="quest-bold" ng-bind-html="question.index + question.text"></span>
                  </div>
                  <div ng-show="question.image.layout == 'top'">
                    <div>
                    <img class="quest-image-top" ng-src="{{question.image.src}}" width="{{question.image.width}}" height="{{question.image.height}}">
                    </div>
                    <div>
                    <span class="quest-bold" ng-bind-html="question.index + question.text"></span>
                    </div>
                  </div>
                  <div ng-show="question.image.layout == 'bottom'">
<div>
                    <span class="quest-bold" ng-bind-html="question.index + question.text"></span>
</div>
<div>
                    <img class="quest-layout-bottom" ng-src="{{question.image.src}}" width="{{question.image.width}}" height="{{question.image.height}}">
</div>
                  </div>
                </div>
                <div class="col-sm-12"
                     ng-show="!question.image.is_loaded">
                    <span class="quest-bold" ng-bind-html="question.index + question.text"></span>
                </div>
              </div>

              <!-- MULTIPLE CHOICE -->
              <div ng-show="question.type == 'multiple_choice'"
                   class="form-group">
	        <div class="col-sm-12"
                     ng-repeat="option in question.multiple_choice.options"
                     ng-show="!option.empty">
                  <label class="quest-radio quest-full">
                    <input type="radio"
                           ng-show="state.mode == 'student'"
                           ng-model="question.answer.value"
                           ng-change="multiple_choice_answer(question)"
                           value="{{option.text}}"/>
                    <input type="radio"
                           ng-show="state.mode == 'teacher'"
                           value="{{option.text}}"/>
                    <span class="quest-plain" ng-bind-html="option.text"></span>
                    <span ng-show="state.mode == 'teacher'"
                          class="quest-teacher-view">
                      ({{data[option.text] || 0}} students)</span>
                  </label>
                </div>
              </div>
              
              <!-- LIKERT SCALE -->
              <div ng-show="question.type == 'likert' && !question.likert.same_scale"
                   class="form-group quest-gap">

                <div ng-show="question.header && question.header.length > 0"
                     class="col-sm-8">
                  <p ng-bind-html="question.header"></p>
                </div>

                <!-- options.length includes one empty item -->
                <div class="col-sm-12">
                  <div class="col-sm-4"></div>

                  <div class="col-sm-8">
                    <div ng-show="question.likert.scale.options.length > 6">
                      <div class="col-sm-1 text-center"
                           ng-repeat="option in question.likert.scale.options"
                           ng-show="!option.empty">
                        <b ng-bind-html="option.text"></b>
                      </div>
                    </div>
                    <div ng-show="question.likert.scale.options.length > 4 &&
                                  question.likert.scale.options.length < 7">
                      <div class="col-sm-2 text-center"
                           ng-repeat="option in question.likert.scale.options"
                           ng-show="!option.empty">
                        <b ng-bind-html="option.text"></b>
                      </div>
                    </div>
                    <div ng-show="question.likert.scale.options.length < 5">
                      <div class="col-sm-3 text-center"
                           ng-repeat="option in question.likert.scale.options"
                           ng-show="!option.empty">
                        <b ng-bind-html="option.text"></b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- LIKERT ITEM -->
              <div ng-show="question.type == 'likert'" class="form-group quest-no-margin">
                <div class="col-sm-4 quest-bold">
                  <span ng-bind-html="question.index + question.text">
                  </span>
                </div>

                <div class="col-sm-8">
                  <div ng-show="question.likert.scale.options.length > 6">
                    <div class="col-sm-1 text-center"
                         ng-repeat="option in question.likert.scale.options"
                         ng-show="!option.empty">
                      <input type="radio"
                             ng-show="state.mode == 'student'"
                             ng-model="question.answer.value"
                             ng-change="likert_answer(question)"
                             value="{{$index+1}}"/>
                      <span ng-show="state.mode == 'teacher'"
                            class="quest-teacher-view">
                        {{data[$index+1] || 0}}
                      </span>
                    </div>
                  </div>
                  <div ng-show="question.likert.scale.options.length > 4 &&
                                question.likert.scale.options.length < 7">
                    <div class="col-sm-2 text-center"
                         ng-repeat="option in question.likert.scale.options"
                         ng-show="!option.empty">
                      <input type="radio"
                             ng-show="state.mode == 'student'"
                             ng-model="question.answer.value"
                             ng-change="likert_answer(question)"
                             value="{{$index+1}}"/>
                      <span ng-show="state.mode == 'teacher'"
                            class="quest-teacher-view">
                        {{data[$index+1] || 0}}
                      </span>
                    </div>
                  </div>
                  <div ng-show="question.likert.scale.options.length < 5">
                    <div class="col-sm-3 text-center"
                         ng-repeat="option in question.likert.scale.options"
                         ng-show="!option.empty">
                      <input type="radio"
                             ng-show="state.mode == 'student'"
                             ng-model="question.answer.value"
                             ng-change="likert_answer(question)"
                             value="{{$index+1}}"/>
                      <span ng-show="state.mode == 'teacher'"
                            class="quest-teacher-view">
                        {{data[$index+1] || 0}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group" ng-show="question.type == 'open'">
                <div class="col-sm-8" ng-show="state.mode == 'student'">
                      <textarea class="quest-text-input quest-full"
                                ng-blur="open_answer(question)"
                                ng-model="question.answer.value"
                                placeholder="{{question.open.placeholder}}">
                      </textarea>
                </div>
                <div class="col-sm-12" ng-show="state.mode == 'teacher'">
                  <div ng-hide="data.length > 0">
                    No student answered this question.
                  </div>
                  <div class="col-sm-12"
                       ng-show="data.length > 0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="quest-teacher-view">Student</th>
                          <th class="quest-teacher-view">Response</th>
                        </tr>
                        </thead>
                      <tbody>
                        <tr ng-repeat="student in data track by $index">
                          <td>{{student.student}}</td><td>{{student.text}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>

        <div hidden
             id="quest_configuration"
             class="container-fluid quest-full"
             style="height: 50px; max-height: 500px; overflow-y: auto; overflow-x: hidden;
                    background-color: white">

          <form class="form-horizontal">
            <div class="form-group">
              <div class="btn-group col-sm-4">
                <label class="btn btn-default navbar-btn"
                       style="width: 8em"
                       ng-model="state.mode"
                       ng-click="update_model"
                       uib-btn-radio="'overview'">Questions</label>
                <label class="btn btn-default navbar-btn"
                       style="width: 8em"
                       ng-model="state.mode"
                       ng-click="update_model"
                       uib-btn-radio="'edit'">Edit</label>
              </div>
                
              <div class="btn-group col-sm-3">
                <label class="btn btn-default navbar-btn"
                       style="width: 8em"
                       ng-model="state.mode"
                       uib-btn-radio="'documentation'">Documentation</label>
              </div>

              <div class="col-sm-5">
                <div class="dialogButtonRow">
                  <i class="fa fa-times fa-fw activeButton fontAweSomeButton dialogButton"
                     ng-click="configuration_close()">
                  </i>
                </div>
              </div>
            </div>
          </form>

          <div style="height: 550px; max-height: 550px; overflow-y: auto; overflow-x: hidden; width: 100%;">
            <form ng-show="state.mode == 'documentation'"
                  style="height: 550px; max-height: 550px; overflow-y: auto; overflow-x: hidden;" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-2">
                  <label>General</label>
                </div>
                <div class="col-sm-8">
                  <p>Quest is a tool to create questionnaires and surveys quickly.  Three question types are supported: <b>Multiple choice</b>, <b>Open answer</b> and <b>Likert items</b>.  If subsequent Likert items use the same scale then a matrix is created automatically.</p>
                  <p>A question can be preceded by a header.  This header is normally used to introduce the subsequent questions.  Multiple choice and open answer questions may contain an image.</p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2">
                  <label>Questions</label>
                </div>
                <div class="col-sm-8">
                  Shows the list with questions.  <b>Drag</b> the number in front of the question up or down to change the order.  <b>Type</b> to change the text of the question.  Use the <b>TAB key</b> to move to the next question.<br>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2">
                  <label>Edit</label>
                </div>
                <div class="col-sm-8">
                  Dialog in which to specify the details of the current question.  <b>Click</b> an option label to obtain more information.  In an option list the <b>TAB key</b> moves to the next item.
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2">
                  <label>Formatting</label>
                </div>
                <div class="col-sm-8">
                  All text (questions, options in lists) is formatted as HTML.  Use an HTML editor to obtain and enter the unformatted HTML.  For example: entering<pre>12 cm&lt;sup&gt;2&lt;/sup&gt;</pre> results in: 12 cm<sup>2</sup>.
                </div>
              </div>
            </form>

            <form ng-show="state.mode == 'overview'"
                  style="height: 550px; max-height: 550px; overflow-y: auto; overflow-x: hidden;"
                  class="form-horizontal">
              <div class="form-group">
                <ul style="list-style-type: none"
                    class="row"
                    ui-sortable="sortableOptions"
                    ng-model="questions">
                  <li ng-repeat="question in questions"
                      class="col-sm-12">
                    <div class="input-group" ng-class="{'quest-current-question': question == current}">
                      <div ng-show="question.type == 'likert'"
                           class="input-group-addon margin-bottom-sm"
                           style="cursor: pointer; width: 60px; text-align: center;">
                        <strong ng-class="{'quest-transparent': question.empty}">{{question.index}} <i class="fa {{question.icon}}" style="color: {{question.likert.scale.color}}"></i></strong>
                      </div>

                      <div ng-hide="question.type == 'likert'"
                           class="input-group-addon margin-bottom-sm"
                           style="cursor: pointer; width: 60px; min-width: 60px; text-align: center;">
                        <strong ng-class="{'quest-transparent': question.empty}">{{question.index}} <i class="fa {{question.icon}}"></i></strong>
                      </div>

                      <input ng-show="!question.empty" class="form-control quest-{{question.font}}"
                             type="text"
                             placeholder="{{question.placeholder}}"
                             ng-click="overview_click(question)"
                             ng-model="question.text"/>
                      <input ng-show="question.empty" class="form-control" type="text"
                             placeholder="{{question.placeholder}}"
                             ng-keyup="overview_keyup(question, $event)"
                             ng-keydown="overview_keydown(question, $event)"
                             ng-blur="overview_blur(question)"
                             ng-model="question.text"/>
                      <div ng-show="question.empty"
                           class="input-group-addon">
                        <i class="quest-transparent fa fa-minus"></i>
                      </div>
                      <div ng-show="!question.empty"
                           class="input-group-addon"
                           data-toggle="popover"
                           data-trigger="hover"
                           data-content="Delete this question.  Asks for confirmation."
                           data-placement="left"
                           ng-click="question_delete(question)">
                        <i class="fa fa-minus activeButton"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </form>

            <form ng-show="state.mode == 'edit'" class="form-horizontal">
              <div class="form-group">

                <label class="col-sm-2 control-label quest-has-popover"
                       data-toggle="popover"
                       data-html="true"
                       data-content="Text of the question.  Drag the input box at the right bottom to get more space.<br><b>Image</b>: add an image to the question.<br><b>Header</b>: an introductory header above the question, useful for explaining the following Likert items.">
                  Question {{current.index}}
                </label>

                <div class="col-sm-7">
                  <textarea class="form-control quest-resize quest-full" rows="1"
                            ng-model="current.text">
                  </textarea>
                </div>

                <div class="col-sm-1 text-center">
                    <label class="btn btn-has-image"
                           ng-model="state.edit_header"
                           ng-click="header_clicked(current)"
                           uib-btn-checkbox="'header'"><i class="fa fa-header"></i></label><br>
                    <p class="tiny">Header</p>
                </div>

                <div class="col-sm-1 text-center" ng-hide="current.type == 'likert'">
                  <label class="btn btn-has-image"
                         ng-model="state.edit_image"
                         ng-click="image_clicked(current)"
                         uib-btn-checkbox="'image'"><i class="fa fa-image"></i></label><br>
                  <p class="tiny">Image</p>
                </div>
              </div>

              <div ng-hide="state.edit_image || state.edit_header"
                   class="form-group quest-no-margin">
                <label class="col-sm-2 control-label quest-has-popover"
                       data-toggle="popover"
                       data-html="true"
                       data-placement="top"
                       data-content="<b>Likert item</b>: item with an answer on a Likert scale. <b>Multiple choice</b>: student can choose between several options.<br><b>Open</b>: arbitrary text.">
                  Type</label>
                <div class="col-sm-10">
                  <div class="col-sm-2 text-center">
                    <label class="btn btn-question-type"
                           ng-model="current.type"
                           ng-click="question_type_clicked(current, 'likert')"
                           uib-btn-radio="'likert'"><i class="fa fa-circle-o"></i></label><br>
                    <p class="tiny">Likert item</p>
                  </div>
                  <div class="col-sm-2 text-center">
                    <label class="btn btn-question-type"
                           ng-model="current.type"
                           ng-click="question_type_clicked(current, 'multiple_choice')"
                           uib-btn-radio="'multiple_choice'"><i class="fa fa-list"></i></label><br>
                    <p class="tiny">Multiple choice</p>
                  </div>
                  <div class="col-sm-2 text-center">
                    <label class="btn btn-question-type"
                           ng-model="current.type"
                           ng-click="question_type_clicked(current, 'open')"
                           uib-btn-radio="'open'"><i class="fa fa-font"></i></label><br>
                    <p class="tiny">Open answer</p>
                  </div>
                </div>
              </div>

              <div class="form-group quest-no-margin">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 quest-divider"></div>
              </div>

              <div ng-hide="state.edit_image || state.edit_header">
                <div ng-show="current.type == 'multiple_choice'">

                  <div class="form-group">
                    <label class="col-sm-2 control-label quest-has-popover"
                           data-toggle="popover"
                           data-html="true"
                           data-placement="top"
                           data-content="These are options students can select
                                         from.  Drag the number to change the order.">
                      Options</label>
                    <div class="col-sm-10">
                      <ul style="list-style-type: none; padding: 0px"
                          ui-sortable="{ axis: 'y' }"
                          ng-model="current.multiple_choice.options">
                        <li ng-repeat="option in current.multiple_choice.options">
                          <div class="input-group">
                            <div class="input-group-addon margin-bottom-sm"
                                 style="cursor: pointer">
                              <strong>{{$index+1}}.</strong>
                            </div>
                            <div>
                              <input class="form-control" type="text"
                                     style="height: 2.5em"
                                     placeholder="{{option.placeholder}}"
                                     ng-keyup="option_keyup(question, option, $event)"
                                     ng-keydown="overview_keydown(question, $event)"
                                     ng-blur="option_blur(question, option)"
                                     ng-model="option.text"/>
                            </div>
                            
                            <div class="input-group-addon"
                                 ng-click="option_delete(current, option)"
                                 data-toggle="popover"
                                 data-placement="left"
                                 data-trigger="hover"
                                 data-content="Delete this option without asking for confirmation.">
                              <i class="fa fa-minus activeButton"></i>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div ng-show="current.type == 'likert'">

                  <div class="form-group">
                    <label class="col-sm-2 control-label quest-has-popover"
                           data-toggle="popover"
                           data-html="true"
                           data-placement="top"
                           data-content="Normally, the Likert scale is re-used
                           from a previous Likert item.  <b>New
                           Scale</b> creates a new Likert scale.  <b>Delete unused scales</b> removes all scales in the menu that are not associated with a Likert item.  <b>TAB key</b>: Use the tab key to create the scale quickly.">
                      Scale</label>
                    <div class="dropdown col-sm-2">
                      <button class="btn btn-default dropdown-toggle"
                              type="button" data-toggle="dropdown">
                        Select <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="create_likert_scale(current)">
                            <i class="fa fa-check quest-transparent"></i> New scale</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="scale in scales">
                          <a ng-click="scale_selected(current, scale)">
                            <i ng-show="current.likert.scale == scale"
                               class="fa fa-check"></i>
                            <i ng-show="current.likert.scale != scale"
                               class="fa fa-check quest-transparent"></i>
                            {{scale.label}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <button class="btn btn-default"
                              type="button"
                              ng-click="delete_unused_scales()">
                        Delete unused scales
                      </button>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label quest-has-popover"
                           data-toggle="popover"
                           data-html="true"
                           data-placement="top"
                           data-content="Options for this Likert item, for
                           example: <em>Agree, Neutral, Disagree</em>,  Drag the number to change the order.">
                      Options</label>
                    <div class="col-sm-10">
                      <ul style="list-style-type: none; padding: 0px"
                          ui-sortable="{ axis: 'y' }"
                          ng-model="current.likert.scale.options">
                        <li ng-repeat="option in current.likert.scale.options">
                          <div class="input-group">
                            <div class="input-group-addon margin-bottom-sm"
                                 style="cursor: pointer">
                              <strong>{{$index+1}}.</strong>
                            </div>
                            <div>
                              <input class="form-control" type="text"
                                     style="height: 2.5em"
                                     placeholder="{{option.placeholder}}"
                                     ng-keyup="option_keyup(current, option, $event)"
                                     ng-keydown="option_keydown(current, option, $event)"
                                     ng-model="option.text"/><br>
                            </div>
                            
                            <div class="input-group-addon"
                                 ng-click="option_delete(current, option)"
                                 data-toggle="popover"
                                 data-placement="left"
                                 data-trigger="hover"
                                 data-content="Delete this option without asking for confirmation.">
                              <i class="fa fa-minus activeButton"></i>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div ng-show="current.type == 'open'">

                  <div class="form-group">
                    <label class="col-sm-2 control-label quest-has-popover"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="Hint to students what they have to enter.">
                      Hint</label>
                    <div class="col-sm-10">
                      <input type="text"
                             class="form-control quest-full"
                             ng-model="current.open.placeholder"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label quest-has-popover"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="Visible size of text box in number of lines.">
                      Visible size</label>
                    <div class="col-sm-2">
                      <input type="number"
                             min="1"
                             class="form-control quest-full"
                             ng-model="current.open.rows"/>
                    </div>
                  </div>

                  <div class="form-group quest-no-margin">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 quest-divider"></div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Preview</label>
                    <div class="col-sm-10">
                      <input ng-show="current.open.rows == 1"
                             type="text"
                             class="quest-text-input form-control"
                             placeholder="{{current.open.placeholder}}"/>
                      <textarea ng-show="current.open.rows != 1"
                                class="quest-resize quest-text-input form-control quest-full"
                                rows="{{current.open.rows}}"
                                placeholder="{{current.open.placeholder}}"></textarea>
                    </div>
                  </div>
                </div>
                
              </div>  <!-- all types -->
              
              <div ng-show="state.edit_header">
                <div class="form-group">
                  <label class="col-sm-2 control-label quest-has-popover"
                         data-toggle="popover"
                         data-placement="top"
                         data-content="Text of the header">
                    Header</label>
                  <div class="col-sm-10">
                    <textarea class="form-control quest-resize quest-full"
                              rows="1"
                              ng-model="current.header">
                    </textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Preview</label>
                  <div class="col-sm-10">
                    <p class="form-control"
                       style="border: 0px"
                       ng-bind-html="current.header"></p>
                  </div>
                </div>
              </div>
                
              <div ng-show="state.edit_image">
                <div class="form-group">
                  <label class="col-sm-2 control-label quest-has-popover"
                         data-toggle="popover"
                         data-placement="top"
                         data-content="The (http) link to the image.">
                    Image URL</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-keyup="image_url_keyup(current, $event)"
                           ng-blur="image_url_blur(current)"
                           ng-model="current.image.url_input"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-2">
                    <label class="control-label quest-has-popover"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="Displayed width of the image (use scale to change).">
                      Width</label>
                    <input type="number"
                           class="form-control"
                           readonly
                           ng-model="current.image.width"/>
                  </div>
                  <div class="col-sm-2">
                    <label class="control-label quest-has-popover"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="Displayed height of the image (use scale to change).">
                      Height</label>
                    <input type="number"
                           class="form-control"
                           readonly
                           ng-model="current.image.height"/>
                  </div>
                  <div class="col-sm-2">
                    <label class="control-label quest-has-popover"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="Size of the image relative to its normal size.">
                      Scale (%)</label>
                    <input type="number"
                           min="1"
                           class="form-control"
                           ng-change="image_scale_change(current)"
                           ng-model="current.image.scale"/>
                  </div>
                  <div class="col-sm-4">
                    <label>Layout</label>
                    <select class="form-control"
                            ng-model="current.image.layout">
                      <option value="left">Left (text wraps on right)</option>
                      <option value="right">Right (text wraps on left)</option>
                      <option value="top">Top (image above text)</option>
                      <option value="bottom">Bottom (image below text)</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    Preview</label>
                  <div class="col-sm-10"
                       ng-show="current.image.is_loaded && current.image.layout != 'bottom'">
                    <img class="quest-image-{{current.image.layout}}" ng-src="{{current.image.src}}" width="{{current.image.width}}" height="{{current.image.height}}">
                    <p><strong>{{current.text}}</strong></p>
                  </div>
                  <div class="col-sm-10"
                       ng-show="current.image.is_loaded && current.image.layout == 'bottom'">
                    <p><strong>{{current.text}}</strong></p>
                    <img class="quest-layout-bottom" ng-src="{{current.image.src}}" width="{{current.image.width}}" height="{{current.image.height}}">
                  </div>
                </div>
              </div>	<!-- scrollable -->
            </form>
          </div>
        </div>
      </golabContainer>

      <div hidden id="quest_teacher_loading">
        <h4>Loading student data: please wait.</h4>
      </div>

      </div>

      <div id="quest_question_delete" hidden>
        <div>
          <p>Do you really want to delete this question?</p>
          <p>
            <ul style="list-style-type: none">
              <li><strong>{{current.text}}</strong></li>
            </ul>
        </div>
        <div class="dialogButtonRow">
          <ul class="toolbar">
            <li>
              <span class="activeButton textButton ng-binding"
                    ng-click="confirm_question_delete(current)">Delete</span>
            </li>
            <li>
              <span class="activeButton textButton ng-binding"
                    ng-click="dialog_close('quest_question_delete')">Cancel</span>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      var quest = window.ut.tools.quest;
      var conf = {};

      quest.startQuest(conf);
    </script>
  </body>
</html>
