<div golabCloak resizeAtInit>
    <div id="ut_tools_hypothesis_root" class="container-fluid unselectable" ng-controller="HypothesisController">

        <golabContainer containerTitle="i_ut_tools_hypothesis_templates">
                <table width="100%">
                    <tr class="toolAreaContainer">
                        <td ng-show="configurationModel.freeInput" class="ut_tools_hypothesis_free_template">
                            <div freeinput></div>
                        </td>
                        <td >
                            <div template ng-repeat="template in configurationModel.conditionals.getValues() track by $index" type="conditional"></div>
                            <div template ng-repeat="template in configurationModel.variables.getValues() track by $index" type="variable"></div>
                        </td>
                    </tr>
                </table>
        </golabContainer>

        <golabContainer containerTitle="i_ut_tools_hypothesis_hypotheses" modelName="hypothesesModel">
                <div class="ut_tools_hypothesis_border" hypothesis readonly="false" ng-repeat="hypothesis in hypothesesModel.getResourceContentWithHashkeys()"></div>
        </golabContainer>

        <toolbar>
            <loadSave modelName="hypothesesModel" showType="false" showAuthor="false" imexport="false"></loadSave>
            <li class="toolBarSpace"></li>
            <editConfiguration>
                <hypothesisConfigurationOptions></hypothesisConfigurationOptions>
            </editConfiguration>
            <help></help>
            <resourceEditorControls></resourceEditorControls>
            <li class="toolBarSpace"></li>
            <collaboration modelName="hypothesesModel"></collaboration>
            <li class="ut_tools_hypothesis_toolplus" hypothesistoolbar></li>
        </toolbar>

        <dialogBox id="ut_tools_hypothesis_notification_dialog" title="i_ut_tools_hypothesis_notification_title" resizable="false" width="450">
            <askQuestion ok="i_ut_tools_hypothesis_ok"></askQuestion>
        </dialogBox>
    </div>
</div>