<?xml version="1.0" encoding="UTF-8"?>
<Module>
    <ModulePrefs
            title="Concept Mapper v1"
            height="600"
            width="800"
            author="Lars Bollen"
            author_email="l.bollen@utwente.nl"
            >
        <Require feature="osapi"/>
        <Require feature="dynamic-height"/>
        <Locale messages="languages/conceptmapper_en_ALL.xml"/>
        <Locale lang="en" messages="languages/conceptmapper_en_ALL.xml"/>
    </ModulePrefs>
    <Content type="html"><![CDATA[
<head>
    <title>Go-Lab - Concept Mapper</title>
</head>

<body>

<link rel="stylesheet" type="text/css" href="commons/css/golabStart_no-angular.css"/>

<div class="pleaseWaitIcon" golabCloak></div>

<ng-include src="resourceLoader.getIncludeUrl('/conceptmapperContent.html')"></ng-include>

<script type="text/javascript" src="commons/js/jsChecker.js"></script>
<script type="text/javascript" src="commons/js/errorHandler.js"></script>
<script data-configuration-definition type="text/javascript" charset="utf-8" src="configurations/configuration_definition.js"></script>
<script data-configuration type="text/javascript" charset="utf-8" src="configurations/configuration_default.js"></script>
<script type="text/javascript" src="libs/js/headJS/head.min.js"></script>
<script type="text/javascript" src="commons/js/resourceLoader.js"></script>
<script type="text/javascript" src="commons/js/commonsModules.js"></script>
<script type="text/javascript" charset="utf-8" src="scripts/conceptMapperApp1.0.js"></script>
<script type="text/javascript">
    "use strict";
    window.ut.tools.conceptmapper.start();
</script>
</body>
]]></Content>
</Module>