@charset "utf-8";
.golabContainer .golabContainerHeader .golabContainerTitle,.golabTitleFont{letter-spacing:.75px;font-kerning:none;-webkit-font-variant-ligatures:no-common-ligatures;font-feature-settings:"liga" 0;font-weight:700}
.golabTitleFont{font-size:16px}
.unselectable{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.textSelectable{-moz-user-select:-moz-text;-khtml-user-select:text;-webkit-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text}
.preventLongPress{-webkit-touch-callout:none!important;-webkit-user-select:none;-webkit-tap-highlight-color:transparent}
.golabContainer{background:#EBEBEB;border:none;border-radius:0;position:relative}
.golabContainer .golabContainerHeader{position:relative;width:100%;background:#4444ad;height:1.75em;line-height:1.75em}
.golabContainer .golabContainerHeader .golabContainerMinimizeButton{background:#4444ad;margin-left:1px;width:20px;height:20px;vertical-align:text-top}
.golabContainer .golabContainerHeader .fontAweSomeGolabContainerButton{font-size:18px;color:#fff;padding:0;margin:0;position:relative;top:2px;left:1px}
.golabContainer .golabContainerHeader .golabContainerTitle{color:#fff;font-size:16px;height:25px;padding-left:5px}
.golabContainer .golabContainerHeader .golabContainerTitleVertical{position:absolute;transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);background:#4444ad;display:inline-block;padding-left:5px;padding-right:5px;white-space:nowrap;transform-origin:top left;-webkit-transform-origin:top left;left:25px;top:23px}
.golabContainer .golabContainerContent{padding:10px}
.golabContainer .golabContainerContentMinimized{padding-top:0;padding-bottom:0;height:0;width:0;overflow:hidden}
.golabContainerMinimizedVertical{width:25px}
.golabContainerBottomSeparator{margin-bottom:4px}
.jsonDisplay{font-size:12px}
.dialogBoxIcon{padding-right:1.5em;font-size:18px}
.dialogBoxContent{position:relative}
.dialogBoxInformationContent{background:#EBEBEB}
.dialogButtonRow{bottom:0;right:0;margin-top:7px;margin-bottom:0;width:100%;text-align:right}
.dialogButton{margin-left:7px}
.questionInput{width:100%}
.buttonLabel{font-weight:700}
div.resourceTableContent{overflow:auto;height:300px;width:470px}
div.resourceTableHeader{position:absolute;top:15px;left:15px;overflow:hidden;height:25px;width:454px}
table.resourceTable{border-collapse:collapse;width:100%}
table.resourceTable td.noWrap{white-space:nowrap}
table.resourceTable tr.resourceTableHeader{background-color:#EBEBEB}
table.resourceTable tr.resourceTableHeader th{text-align:left;cursor:pointer;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
table.resourceTable td,table.resourceTable th{border:1px solid #ccc;padding:2px;font-size:12px}
table.resourceTable tr.resourceTableRowSelected{background-color:#74f257}
.selectExampleTable{border-spacing:5px;border-collapse:collapse}
.selectExampleTable td{padding-bottom:5px;padding-right:5px}
.busyWithResources{position:fixed;top:50%;left:50%;width:115px;height:115px;margin-top:-57.5px;margin-left:-57.5px;background:url(../images/loading-animation.gif) center no-repeat;background-size:115px;display:block;z-index:9999}
.golabConfigurationEditor .col-md-12,.golabConfigurationEditor .configurationTextInput{width:100%}
.golabConfigurationEditor{max-height:450px;overflow-y:scroll}
.golabConfigurationEditor .configurationSectionTitle{background:#EBEBEB;font-weight:700;margin-top:5px;margin-bottom:5px}
.golabConfigurationEditor .firstConfigurationSectionTitle{margin-top:0}
.golabConfigurationEditor .configurationSectionContent{margin-left:30px}
.golabConfigurationEditor .configurationOptionTitle{background:#EBEBEB;font-weight:700;padding-top:1px;padding-bottom:3px}
.golabConfigurationEditor .configurationHighInputRow{padding-top:.25em;padding-bottom:.25em}
.golabConfigurationEditor .configurationCheckbox{position:relative;top:.05em;margin-right:.2em;cursor:pointer}
.golabConfigurationEditor .configurationFaRadioButton{cursor:pointer;position:relative;left:-.25em;margin-right:-.25em}
.golabConfigurationEditor .configurationLineSeparation{margin-top:.25em}
.golabConfigurationEditor .col-md-1,.golabConfigurationEditor .col-md-10,.golabConfigurationEditor .col-md-11,.golabConfigurationEditor .col-md-12,.golabConfigurationEditor .col-md-2,.golabConfigurationEditor .col-md-3,.golabConfigurationEditor .col-md-4,.golabConfigurationEditor .col-md-5,.golabConfigurationEditor .col-md-6,.golabConfigurationEditor .col-md-7,.golabConfigurationEditor .col-md-8,.golabConfigurationEditor .col-md-9{float:left}
.golabConfigurationEditor .col-md-11{width:91.66666667%}
.golabConfigurationEditor .col-md-10{width:83.33333333%}
.golabConfigurationEditor .col-md-9{width:75%}
.golabConfigurationEditor .col-md-8{width:66.66666667%}
.golabConfigurationEditor .col-md-7{width:58.33333333%}
.golabConfigurationEditor .col-md-6{width:50%}
.golabConfigurationEditor .col-md-5{width:41.66666667%}
.golabConfigurationEditor .col-md-4{width:33.33333333%}
.golabConfigurationEditor .col-md-3{width:25%}
.golabConfigurationEditor .col-md-2{width:16.66666667%}
.golabConfigurationEditor .col-md-1{width:8.33333333%}
.golabConfigurationEditor .col-md-pull-12{right:100%}
.golabConfigurationEditor .col-md-pull-11{right:91.66666667%}
.golabConfigurationEditor .col-md-pull-10{right:83.33333333%}
.golabConfigurationEditor .col-md-pull-9{right:75%}
.golabConfigurationEditor .col-md-pull-8{right:66.66666667%}
.golabConfigurationEditor .col-md-pull-7{right:58.33333333%}
.golabConfigurationEditor .col-md-pull-6{right:50%}
.golabConfigurationEditor .col-md-pull-5{right:41.66666667%}
.golabConfigurationEditor .col-md-pull-4{right:33.33333333%}
.golabConfigurationEditor .col-md-pull-3{right:25%}
.golabConfigurationEditor .col-md-pull-2{right:16.66666667%}
.golabConfigurationEditor .col-md-pull-1{right:8.33333333%}
.golabConfigurationEditor .col-md-pull-0{right:auto}
.golabConfigurationEditor .col-md-push-12{left:100%}
.golabConfigurationEditor .col-md-push-11{left:91.66666667%}
.golabConfigurationEditor .col-md-push-10{left:83.33333333%}
.golabConfigurationEditor .col-md-push-9{left:75%}
.golabConfigurationEditor .col-md-push-8{left:66.66666667%}
.golabConfigurationEditor .col-md-push-7{left:58.33333333%}
.golabConfigurationEditor .col-md-push-6{left:50%}
.golabConfigurationEditor .col-md-push-5{left:41.66666667%}
.golabConfigurationEditor .col-md-push-4{left:33.33333333%}
.golabConfigurationEditor .col-md-push-3{left:25%}
.golabConfigurationEditor .col-md-push-2{left:16.66666667%}
.golabConfigurationEditor .col-md-push-1{left:8.33333333%}
.golabConfigurationEditor .col-md-push-0{left:auto}
.golabConfigurationEditor .col-md-offset-12{margin-left:100%}
.golabConfigurationEditor .col-md-offset-11{margin-left:91.66666667%}
.golabConfigurationEditor .col-md-offset-10{margin-left:83.33333333%}
.golabConfigurationEditor .col-md-offset-9{margin-left:75%}
.golabConfigurationEditor .col-md-offset-8{margin-left:66.66666667%}
.golabConfigurationEditor .col-md-offset-7{margin-left:58.33333333%}
.golabConfigurationEditor .col-md-offset-6{margin-left:50%}
.golabConfigurationEditor .col-md-offset-5{margin-left:41.66666667%}
.golabConfigurationEditor .col-md-offset-4{margin-left:33.33333333%}
.golabConfigurationEditor .col-md-offset-3{margin-left:25%}
.golabConfigurationEditor .col-md-offset-2{margin-left:16.66666667%}
.golabConfigurationEditor .col-md-offset-1{margin-left:8.33333333%}
.golabConfigurationEditor .col-md-offset-0{margin-left:0}
.modelJsonDialog .modelJson{width:640px;height:400px;font-size:11px;white-space:pre-wrap}
.helpHtmlEditor,.helpHtmlEditor .ta-editor,.helpHtmlEditor .ta-toolbar{width:102%}
.helpHtmlEditor .ta-scroll-window{margin-bottom:5px}
.helpHtmlEditor .ta-scroll-window .ta-bind{min-height:8em;max-height:8em}
.helpHtmlEditor .ta-scroll-window.form-control{min-height:8em;max-height:8.1em}
.helpHtmlEditor .btn-default{padding:4px 7px;height:31px}
.helpPreview{width:102%;min-height:12.45em;max-height:12.45em;overflow-y:scroll;padding:10px;border:1px solid #EBEBEB}
.transpiledDate{font-size:9px;color:#abaeff;text-align:right}
.nameListEditorTitle{font-weight:700}
.nameListControls{text-align:right;padding-right:5px}
@media all and (min-width:600px){.nameListControls{white-space:nowrap}
}
.nameListTitle .fontAweSomeButtonSmall{line-height:1px}
.nameEditor{border:4px solid #fff}
.nameEditor input{width:100%}
.selectedNameEditor div{border:4px solid #74f257}
.svgConcept{height:28px}
.svgConcept .elementLabel{fill:#fff}
.svgConcept .background{fill:#4444ad}