/* header
 * --------------------------------------------------------------------------- */
.page-header-app {
    background: #00b7cc;
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

h1{
    font-size: 1.0em;
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 36px;
    vertical-align: middle;
}


/* overwrite metricsgraphics styles
 * --------------------------------------------------------------------------- */

element.style {
}

.mg-line1-color {
    stroke: #00b7cc;
}

.mg-area1-color {
    fill: #73726c;
}

.mg-barplot rect.mg-bar {
    shape-rendering: auto;
    fill: #73726c;
}

.mg-barplot rect.mg-bar.active {
    fill: #73726c;
}

/* toolbar
 * --------------------------------------------------------------------------- */
.toolbar_wrapper {
    background: #f5f5f5;
}

#toolbar ul {
    list-style: none;
    padding: 8px 0;
    margin: 0;
}

#toolbar ul li {
    display: inline-block;
    padding-right: 10px;
}

#toolbar li a {
    color: #777;
    display: block;
    font-size: 1.5em;
    padding: 0 5px;
}

#toolbar li a:hover {
    color: #428bca;
    text-decoration: none;
}

#toolbar li a:focus, #toolbar li a:active {
    position: relative;
    top: 1px;
    color: #428bca;
    text-decoration: none;
}

/* loading indicator
 * --------------------------------------------------------------------------- */
.cover {
    position: absolute;
    min-height: 200px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
}

#loading_indicator {
    background-image: url('loading_indicator.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

/* error display
 * --------------------------------------------------------------------------- */
#error {
    display: none;
}

/* main application
 * --------------------------------------------------------------------------- */

/*#main {
  margin-top: 25px;
}*/

#notifications {
    width: 250px;
    position: absolute;
    right: 20px;
    bottom: 0;
    display: none;
}
