@charset "utf-8";
.fontAweSomeButton,.secondaryTextButton{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none}
.golabTitleFont,.ui-dialog-title{letter-spacing:.75px;font-kerning:none;-webkit-font-variant-ligatures:no-common-ligatures;font-feature-settings:"liga" 0}
.preventLongPress,.ui-slider-handle{-webkit-touch-callout:none!important;-webkit-tap-highlight-color:transparent}
.golabTitleFont{font-size:16px;font-weight:700}
body,input,select,td,textarea,th{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px;font-style:normal;font-variant:normal;font-weight:400;white-space:normal;line-height:normal;color:#3c3c3c}
.gadgetBodyScrollBars{overflow-y:hidden;overflow-x:auto}
.horizontalScrollBarReservation{width:100%;height:20px}
h1{font-weight:400}
.toolAreaContainer,.workAreaContainer{background:#EBEBEB;border:none;border-radius:3px}
.toolArea{padding:5px}
.areaLabel{width:100%;background:#4444ad;color:#fff;font-size:16px;text-align:center;height:25px}
.activeButton{color:#4444ad;background-size:contain;-webkit-box-sizing:initial;-moz-box-sizing:initial;box-sizing:initial;cursor:pointer}
.activeButton:hover{color:#0d0592;background-size:contain}
.activeButton:active{font-weight:bolder;background-size:contain}
.secondaryTextButton{user-select:none;cursor:pointer}
.pressedButton,.pressedButton:active,.pressedButton:hover{background:#74f257;background-size:contain}
.disabledButton,.disabledButton:active,.disabledButton:hover{color:#939597;font-weight:400;cursor:default}
.fontAweSomeStacked{position:relative}
.fontAweSomeStacked .fontAweSomeStack{position:absolute;text-align:center}
.fontAweSomeStacked2,.textButton{position:relative;display:inline-block}
.fontAweSomeStacked .fontAweSomeUnderStar{padding-left:5px;padding-right:5px}
.fontAweSomeStacked .fontAweSomeStackedStar{left:22px;top:6px;font-size:13px}
.fontAweSomeStacked .fontAweSomeStackedStar:before{background:rgba(255,255,255,.4)}
.fontAweSomeButton{padding:4px;margin:2px 2px 5px;font-size:23px;user-select:none}
.fontAweSomeButtonLarge,.fontAweSomeButtonSmall{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none}
.fontAweSomeButtonSmall{padding:2px;margin:2px;font-size:13px;user-select:none}
.fontAweSomeButtonLarge{padding:6px;margin:2px 2px 5px;font-size:29px;user-select:none}
.textButton,.toolbar li:active,.toolbarPart li:active{-moz-user-select:-moz-none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;-khtml-user-select:none}
.fontAweSomeButtonInHelp{font-size:19px;width:1.4em;text-align:center}
.textButton{top:-.15em;margin-left:2px;margin-right:8px;font-size:18px;user-select:none;white-space:nowrap}
.textButton:active{font-weight:100}
.notActiveTextButton{cursor:default}
.textButtonPlainSize{font-size:15px}
.fontAweSomeStacked2{width:23px;height:23px;line-height:23px;margin-left:5.5px;margin-bottom:0}
.fontAweSomeStacked2 .fontAweSomeStack{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.recordingButton .innerButton{font-size:6px;color:red}
.recordingButton .pressedButton{font-size:12px}
.disabledButton .innerButton{color:#939597}
.golabDroppable{border:2px dotted #1BB71F!important}
.dropObjectOutSideDropArea{opacity:.35}
.toolbar{background:#EBEBEB;border-top:5px solid #fff}
.toolbar,.toolbarPart{list-style-type:none;margin:0;position:relative;vertical-align:middle;padding:6px 0 1px}
.toolbar li,.toolbarPart li{display:inline;color:#4444ad;font-size:20px}
.ui-helper-reset,.ui-widget,.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px}
.toolbar li:hover,.toolbarPart li:hover{color:#0d0592}
.toolbar li:active,.toolbarPart li:active{font-weight:bolder;user-select:none}
.toolbar li.status:hover,.toolbarPart li.status:hover{color:#4444ad}
.toolbar li.status:active,.toolbarPart li.status:active{font-weight:400}
.verticalToolbar{border-top:none;display:table;padding:0 6px 1px}
.verticalToolbar li{display:list-item}
table.verticalToolbarTable{border-spacing:0;padding:0;width:100%}
table.verticalToolbarTable td{vertical-align:top;background:#EBEBEB;padding:0}
table.verticalToolbarTable td.verticalToolbarCell{background:#EBEBEB;border-right:5px solid #fff;width:1%;min-width:3em}
ul.toolbarPart{display:inline;padding-left:0}
.ui-tabs .ui-state-active a,.ui-tabs .ui-tabs-nav li a{float:left;padding:.25em 1em;text-decoration:none}
.toolBarBeginSpace{margin:.4em}
.toolBarSpace{margin:1em}
.evenColumnBackground{background-color:#fcfcff}
.oddColumnBackground{background-color:#f3f3ff}
.deselectedBorder{border:5px solid #fff}
.selectedBorder{border:5px solid #74f257}
.selectableListItem{margin-bottom:5px}
.lastSelectableListItem{margin-bottom:0}
.ui-widget-content{border:1px solid #abaeff;background:#fff;color:#646464}
.ui-widget-header{border:1px solid #abaeff;background:#abaeff;color:#fff;font-weight:700}
.ui-widget-header a{color:#fff}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #abaeff;background:#abaeff;color:#fff;font-weight:700}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#fff;text-decoration:none}
.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover{border:1px solid #4444ad;background:#4444ad;font-weight:700;color:#fff}
.ui-state-hover a,.ui-state-hover a:hover{color:#fff;text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #abaeff;background:#1BB71F;font-weight:700;color:#fff}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}
.ui-widget :active{outline:0}
.ui-slider-handle{-webkit-user-select:none}
.ui-tabs-nav{background:#EBEBEB;color:#fff}
.ui-button,.ui-dialog-titlebar,.ui-dialog-titlebar-close,.ui-tabs .ui-state-active a{background:#4444ad}
ul.ui-tabs-nav li.ui-tabs-active{background:#4444ad;color:#fff}
.ui-helper-reset{line-height:1}
.ui-dialog{padding:0;border:1px solid #4444ad}
.ui-dialog .row{width:102%}
.ui-dialog-title{font-size:16px;font-weight:700}
.ui-dialog .ui-dialog-content{padding-top:1em;padding-bottom:1em}
.ui-corner-all,.ui-corner-left,.ui-corner-tl,.ui-corner-top{border-top-left-radius:0}
.ui-corner-all,.ui-corner-right,.ui-corner-top,.ui-corner-tr{border-top-right-radius:0}
.ui-corner-all,.ui-corner-bl,.ui-corner-bottom,.ui-corner-left{border-bottom-left-radius:0}
.ui-corner-all,.ui-corner-bottom,.ui-corner-br,.ui-corner-right{border-bottom-right-radius:0}
.ui-dialog-titlebar-close{visibility:hidden}
.unselectable{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.textSelectable{-moz-user-select:-moz-text;-khtml-user-select:text;-webkit-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text}
.preventLongPress{-webkit-user-select:none}
body,html{height:100%;overflow:hidden}
.togetherjs-dock-right{background:#4444ad!important}
.ut_tools_conceptmapper_titlebar{width:100%;background:#4444ad;color:#fff;font-size:16px;font-weight:700;text-align:left;height:26px;padding:3px}
.ut_tools_conceptmapper_hint{margin-top:25%;text-align:center;vertical-align:middle;color:#4444ad}
.ut_tools_conceptmapper_disable-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ut_tools_conceptmapper_dialog{z-index:5000}
.ut_tools_conceptmapper_dialog .ui-dialog-titlebar-close{display:none}
#ut_tools_conceptmapper_angularRoot{height:100%;width:100%}
#ut_tools_conceptmapper_toolbar_container{background:#EBEBEB;border:none;border-radius:3px}
#ut_tools_conceptmapper_toolbar{padding:5px}
#ut_tools_conceptmapper_toolbar_list{list-style-type:none;padding:0;text-align:center}
#ut_tools_conceptmapper_logoContainer{position:absolute;bottom:10px;padding-left:12px;padding-bottom:8px}
#ut_tools_conceptmapper_map,.conceptMap{background:#EBEBEB;border:none;border-radius:3px;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;width:100%;min-height:600px;max-height:600px;height:600px;border-top:5px solid #fff}
.ut_tools_conceptmapper_icon{margin-right:.25em;padding-left:.25em;padding-right:.25em;float:right}
.pressedButton,.ut_tools_conceptmapper_icon:active,.ut_tools_conceptmapper_icon:hover{background-color:transparent}
.pressedButton,.pressedButton:active,.pressedButton:hover{color:#fff;background-color:#74f257}
.ut_tools_conceptmapper_template{padding-bottom:1px;float:right;margin:0 5px 6px 10px}
.ut_tools_conceptmapper_concept{text-align:center;z-index:6;overflow:hidden}
.conceptMap svg *{z-index:10}
.highlight_concept{box-shadow:0 0 10px 10px #74f257}
.ut_tools_conceptmapper_concept *{margin:0;padding:.25em .5em;border:0;color:#fff}
.ut_tools_conceptmapper_concept textarea{width:100%;height:100%;margin:0;border:0;background-color:rgba(0,0,0,0)}
.ut_tools_conceptmapper_concept input{margin:0;padding:.25em .5em;background-color:rgba(0,0,0,0)}
.ut_tools_conceptmapper_menubutton{padding:0;position:absolute;top:3px;right:4px}
.ut_tools_conceptmapper_red{background-color:red}
.ut_tools_conceptmapper_yellow{background-color:#b8860b}
.ut_tools_conceptmapper_green{background-color:#006400}
.ut_tools_conceptmapper_blue{background-color:#4444ad}
.ut_tools_conceptmapper_orange{background-color:#ff8c00}
.ut_tools_conceptmapper_grey{background-color:#EBEBEB}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default;z-index:100;list-style:none;padding:0;margin:0;display:block;outline:0;background:#EBEBEB;color:#3c3c3c;border-top-left-radius:1px}
._jsPlumb_overlay{color:#fff;background:#abaeff;border:0;text-align:center}
.ut_tools_conceptmapper_label{z-index:5;text-align:center;padding:.25em .5em;color:#fff;background:#abaeff;border:0}
.ut_tools_conceptmapper_label input{padding:.25em .5em}
.ut_tools_conceptmapper_labelReadOnly{z-index:5;text-align:center;color:#fff;border:0}
svg.connection path{stroke:#abaeff;stroke-width:3;fill:#abaeff}
.noclose .ui-dialog-titlebar-close{display:none}