@charset "utf-8";
.fontAweSomeButton,.secondaryTextButton{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none}
.golabTitleFont{font-size:16px;font-weight:700;letter-spacing:.75px;font-kerning:none;-webkit-font-variant-ligatures:no-common-ligatures;font-feature-settings:"liga" 0}
body,input,select,td,textarea,th{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px;font-style:normal;font-variant:normal;font-weight:400;white-space:normal;line-height:normal;color:#3c3c3c}
.gadgetBodyScrollBars{overflow-y:hidden;overflow-x:auto}
.horizontalScrollBarReservation{width:100%;height:20px}
h1{font-weight:400}
.toolAreaContainer,.workAreaContainer{background:#EBEBEB;border:none;border-radius:3px}
.toolArea{padding:5px}
.areaLabel{width:100%;background:#4444ad;color:#fff;font-size:16px;text-align:center;height:25px}
.activeButton{color:#4444ad;background-size:contain;-webkit-box-sizing:initial;-moz-box-sizing:initial;box-sizing:initial;cursor:pointer}
.activeButton:hover{color:#0d0592;background-size:contain}
.activeButton:active{font-weight:bolder;background-size:contain}
.secondaryTextButton{user-select:none;cursor:pointer}
.pressedButton,.pressedButton:active,.pressedButton:hover{background:#74f257;background-size:contain}
.disabledButton,.disabledButton:active,.disabledButton:hover{color:#939597;font-weight:400;cursor:default}
.fontAweSomeStacked{position:relative}
.fontAweSomeStacked .fontAweSomeStack{position:absolute;text-align:center}
.fontAweSomeStacked2,.textButton{position:relative;display:inline-block}
.fontAweSomeStacked .fontAweSomeUnderStar{padding-left:5px;padding-right:5px}
.fontAweSomeStacked .fontAweSomeStackedStar{left:22px;top:6px;font-size:13px}
.fontAweSomeStacked .fontAweSomeStackedStar:before{background:rgba(255,255,255,.4)}
.fontAweSomeButton{padding:4px;margin:2px 2px 5px;font-size:23px;user-select:none}
.fontAweSomeButtonLarge,.fontAweSomeButtonSmall{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none}
.fontAweSomeButtonSmall{padding:2px;margin:2px;font-size:13px;user-select:none}
.fontAweSomeButtonLarge{padding:6px;margin:2px 2px 5px;font-size:29px;user-select:none}
.textButton,.toolbar li:active,.toolbarPart li:active{-moz-user-select:-moz-none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;-khtml-user-select:none}
.fontAweSomeButtonInHelp{font-size:19px;width:1.4em;text-align:center}
.textButton{top:-.15em;margin-left:2px;margin-right:8px;font-size:18px;user-select:none;white-space:nowrap}
.textButton:active{font-weight:100}
.notActiveTextButton{cursor:default}
.textButtonPlainSize{font-size:15px}
.fontAweSomeStacked2{width:23px;height:23px;line-height:23px;margin-left:5.5px;margin-bottom:0}
.fontAweSomeStacked2 .fontAweSomeStack{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.recordingButton .innerButton{font-size:6px;color:red}
.recordingButton .pressedButton{font-size:12px}
.disabledButton .innerButton{color:#939597}
.golabDroppable{border:2px dotted #1BB71F!important}
.dropObjectOutSideDropArea{opacity:.35}
.toolbar{background:#EBEBEB;border-top:5px solid #fff}
.toolbar,.toolbarPart{list-style-type:none;margin:0;position:relative;vertical-align:middle;padding:6px 0 1px}
.toolbar li,.toolbarPart li{display:inline;color:#4444ad;font-size:20px}
.toolbar li:hover,.toolbarPart li:hover{color:#0d0592}
.toolbar li:active,.toolbarPart li:active{font-weight:bolder;user-select:none}
.toolbar li.status:hover,.toolbarPart li.status:hover{color:#4444ad}
.toolbar li.status:active,.toolbarPart li.status:active{font-weight:400}
.verticalToolbar{border-top:none;display:table;padding:0 6px 1px}
.verticalToolbar li{display:list-item}
table.verticalToolbarTable{border-spacing:0;padding:0;width:100%}
table.verticalToolbarTable td{vertical-align:top;background:#EBEBEB;padding:0}
table.verticalToolbarTable td.verticalToolbarCell{background:#EBEBEB;border-right:5px solid #fff;width:1%;min-width:3em}
ul.toolbarPart{display:inline;padding-left:0}
.toolBarBeginSpace{margin:.4em}
.toolBarSpace{margin:1em}
.evenColumnBackground{background-color:#fcfcff}
.oddColumnBackground{background-color:#f3f3ff}
.deselectedBorder{border:5px solid #fff}
.selectedBorder{border:5px solid #74f257}
.selectableListItem{margin-bottom:5px}
.lastSelectableListItem{margin-bottom:0}
.unselectable{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.textSelectable{-moz-user-select:-moz-text;-khtml-user-select:text;-webkit-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text}
.preventLongPress{-webkit-touch-callout:none!important;-webkit-user-select:none;-webkit-tap-highlight-color:transparent}
div.resourceTableContent{height:120px}
#ut_tools_questioning_container{background:#EBEBEB;border:none;border-radius:3px}
#ut_tools_questioning_container ul{list-style-type:none;margin:0;padding:0;z-index:1;background:#EBEBEB}
.ut_tools_questioning_question{padding:6px 0}
.ut_tools_questioning_question_readonly{padding:6px;border:1px solid #ccc;width:100%;display:inline-block}
.ut_tools_questioning_bin{top:8px}
.ut_tools_questioning_question_highlight{outline:0;border-color:#74f257!important;box-shadow:0 0 10px #1BB71F!important}
#ut_tools_questioning_templates_container{background:#EBEBEB;border:none;border-radius:3px}
.ut_tools_questioning_template{float:left;align:center;margin:5px;padding:5px}
.ut_tools_questioning_template_question{background:#4444ad;color:#fff}
.ut_tools_questioning_template_input{border:2px solid #abaeff;background:#abaeff;color:#fff}
.ut_tools_questioning_template_output{background:#abaeff;color:#fff}
.ut_tools_questioning_icon{padding:10px 5px 5px;width:35px;height:35px}
.ut_tools_questioning_toolplus{float:right;position:relative;top:-3px;right:5px}